<div class="god-container" (click)="isClickedDragDiv = false">
  <div class="cursor" #cursor></div>

  <div class="side-features" #drag (mouseup)="isClickedDragDiv = false">
    <div class="side-items">
      <div class="side-item"
        (mousedown)="isClickedDragDiv = true"
        (onmouseup)="isClickedDragDiv = false"
        (mouseover)="mouseOnAndOff(1, true);"
        (mouseout)="mouseOnAndOff(1, false);">
        <i class="fas fa-grip-lines"></i>
      </div>
      <div class="side-item" (mouseover)="mouseOnAndOff(2, true);" (mouseout)="mouseOnAndOff(2, false);">
        <i class="fas fa-file-download"></i>
      </div>
      <div class="side-item" (mouseover)="mouseOnAndOff(3, true);" (mouseout)="mouseOnAndOff(3, false);">
        <i class="fas fa-sliders-h"></i>
      </div>
    </div>
  </div>

  <div class="main-div" [style]="{'user-select:none':isClickedDragDiv }">
    <!-- DEMOGRAPHIC INFORMATION -->
    <div class="demographic-section">
      <div class="name-profile">
        <div class="name">ARUN SAINI</div>
        <div class="profile">Software Development Engineer</div>
      </div>
      <div class="contacts">
        <a class="contact-item" href="linkedin.com/in/arun-saini-6bba81148"
          ><span>linkedin.com/in/arun-saini-6bba81148</span>
          <i class="fab fa-linkedin"></i
        ></a>
        <a class="contact-item" href="github.com/Arun6153"
          ><span>github.com/Arun6153</span> <i class="fab fa-github-square"></i
        ></a>
        <a class="contact-item" href="arunsaini.herokuapp.com"
          ><span>arunsaini.herokuapp.com</span> <i class="fas fa-user-tie"></i
        ></a>
        <a class="contact-item" href="mailto:sarun6153@gmail.com"
          ><span>sarun6153@gmail.com</span> <i class="fas fa-envelope"></i
        ></a>
        <a class="contact-item" href="tel:8607972097">
          <span>8607972097</span> <i class="fas fa-phone-square"></i
        ></a>
      </div>
    </div>

    <!-- USER INFORMATION -->
    <div class="user-info">
      {{ constants.userInfo }}
    </div>

    <!-- USER DETAILS -->
    <div class="user-details-div">
      <div class="left-section">
        <!-- EXPERIENCE SECTION -->
        <div class="experience-section pd-y">
          <div class="section-header">
            <div>
              {{ constants.section_exper }}
            </div>
          </div>
        </div>
        <div
          class="experience pd-y"
          *ngFor="let item of constants.experienceList"
        >
          <div class="icon-div pd-y"><i [class]="item.icon"></i></div>
          <div class="organisation-timeline-desc-responsiblity pd-y">
            <div class="organisation-timeline">
              <div class="organisation">
                {{ item.organisation }}
              </div>
              <div class="timeline" *ngIf="item.timeline">
                {{ item.timeline }} <i [class]="item.timelineIcon"></i>
              </div>
            </div>
            <div class="exper-desc pd-y" *ngIf="item.description">
              {{ item.description }}
            </div>
            <div
              class="responsiblity-div"
              *ngIf="item.responsiblities.resList.length > 0"
            >
              <p>{{ item.responsiblities.title }}</p>
              <div class="resList pd-y">
                <div
                  class="responsiblity-item"
                  *ngFor="let res of item.responsiblities.resList"
                >
                  <div class="bubble">{{ res }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- PROJECTS SECTION -->
        <div class="project-section pd-y">
          <div class="section-header">
            <div>
              {{ constants.section_project }}
            </div>
          </div>
        </div>
        <div class="project pd-y" *ngFor="let item of constants.projectList">
          <div class="project-name">
            <div class="course">
              {{ item.name }} <small>{{ item.small }}</small>
            </div>
          </div>
          <div class="project-description pd-y">
            <div>
              {{ item.desc }}
            </div>
            <div class="projectlink" *ngIf="item.link">
              <a [href]="item.link" class="projectlink">{{ item.link }}</a>
            </div>
          </div>
        </div>

        <!-- CERTIFICATION -->
        <div class="certificate-section pd-y">
          <div class="section-header">
            <div>
              {{ constants.section_certification }}
            </div>
          </div>
        </div>
        <div
          class="certificate pd-y"
          *ngFor="let item of constants.certificationList"
        >
          <div class="icon-div pd-y"><i [class]="item.icon"></i></div>
          <div class="name-and-link pd-y">
            <div class="certicate-name">
              {{ item.name }}
            </div>
            <a
              class="link-desc pd-y"
              target="blank"
              [href]="!item.link ? null : item.link"
            >
              {{ item.link }}
            </a>
          </div>
        </div>
      </div>

      <div class="mid-section"></div>

      <div class="right-section">
        <!-- SKILLS -->
        <div class="skills-section pd-y">
          <div class="section-header">
            <div>
              {{ constants.section_skills }}
            </div>
          </div>
        </div>
        <div class="skills pd-y">
          <div class="left">
            <ng-container *ngFor="let item of constants.skillList">
              <ng-container *ngIf="item.left">
                <div class="header-skill">{{ item.title }}</div>
                <div class="skill-item" *ngFor="let skill of item.skills">
                  {{ skill }}
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="right">
            <ng-container *ngFor="let item of constants.skillList">
              <ng-container *ngIf="!item.left">
                <div class="header-skill">{{ item.title }}</div>
                <div class="skill-item" *ngFor="let skill of item.skills">
                  {{ skill }}
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- ACHIEVMENTS -->
        <div class="acheivment-section pd-y">
          <div class="section-header">
            <div>
              {{ constants.section_acheiv }}
            </div>
          </div>
        </div>
        <div
          class="acheivment pd-y"
          *ngFor="let item of constants.achievmentList"
        >
          <div class="icon-div pd-y"><i [class]="item.icon"></i></div>
          <div class="rank-name-organisation pd-y">
            <span class="ranks" *ngIf="item.rank">
              {{ item.rank }}
            </span>
            <span class="achiev-desc">
              {{ item.desc }}
            </span>
            <span class="orgnisation" *ngIf="item.org">{{
              " - " + item.org
            }}</span>
          </div>
        </div>

        <!-- GRADES SECTION -->
        <div class="grades-section pd-y">
          <div class="section-header">
            <div>
              {{ constants.section_grade }}
            </div>
          </div>
        </div>
        <div class="grade pd-y" *ngFor="let item of constants.GradesList">
          <div class="course-org">
            <div class="course">
              {{ item.course }} <span>{{ item.organisation }}</span>
            </div>
          </div>
          <div class="marks-timeline">
            <div class="marks">
              {{ item.marks }}<span>{{ item.marksType }}</span>
            </div>
            <div class="timeline">
              {{ item.timeline }} <i [class]="item.icon"></i>
            </div>
          </div>
        </div>

        <!-- HOBBIES AND INTEREST -->
        <div class="hobbie-intrest-section pd-y">
          <div class="section-header">
            <div>
              {{ constants.section_interest }}
            </div>
          </div>
        </div>
        <div
          class="hobie-intrest-desc pd-y"
          *ngFor="let item of constants.hobyIntrList"
        >
          <div class="hobie-intrest">
            <div>
              {{ item.title }}
            </div>
            <div class="desc-hoby">
              {{ item.desc }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
