/* HEADER: STARTS HERE */
.demographic-section {
  height: 200px;
  display: flex;
  flex-direction: row;
}

.name-profile,
.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: 100%;
  padding: 30px 0px;
}

.name {
  height: 100%;
  font-family: var(--font-family-big);
  font-size: var(--font-size-lg-large);
  font-weight: var(--font-weight-large);
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: .3s;
}

.name:hover {
  letter-spacing: 5px;
  animation: glow 1s infinite;
  padding-left:5px;
}

.profile {
  height: 100%;
  font-family: var(--font-family-small);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-large);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.contact-item {
  height: 100%;
  color: var(--font-color-fade);
  text-decoration: none;
  font-family: var(--font-family-small);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  text-align: right;
  transition: 0.3s;
}
.contact-item:hover {
  color: var(--font-color);
  transform: scale(1.1);
  padding-right: 30px;
}

.contact-item i {
  font-size: var(--font-size-large);
}
.contact-item:hover .fa-linkedin {
  color: #0077b5;
}
.contact-item:hover .fa-github-square {
  color: #121212;
}
.contact-item:hover .fa-user-tie {
  color: #074185;
}
.contact-item:hover .fa-envelope {
  color: #e63131;
}
.contact-item:hover .fa-phone-square {
  color: #0b327a;
}
/* ENDS HERE */

/* USER-INFO-SECTION: STARTS FROM HERE */
.user-info {
  font-family: var(--font-family-small);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  line-height: 20px;
  text-align: justify;
  word-spacing: 5px;
}
/* ENDS HERE */

/* USER-DETAILS-SECTION */
.user-details-div {
  display: flex;
  flex-direction: row;
}
.left-section {
  width: 48%;
}
.mid-section {
  width: 4%;
}
.right-section {
  width: 48%;
}
/* ENDS HERE */

.grades-section,
.experience-section,
.project-section,
.certificate-section,
.hobbie-intrest-section,
.acheivment-section,
.skills-section {
  width: 100%;
  border-bottom: 1px solid var(--font-color);
  padding:10px 0px 5px;
}

.section-header {
  height: 40px;
  /* display: flex;
  align-items: center; */
  position: relative;
  transition: width 2s;
  white-space: nowrap;
  /* width: 100%; */
  width:fit-content;
}
.section-header  div{
  position: relative;
  transition: .3s;
  font-family: var(--font-family-big);
  font-size: var(--font-size-lg-small);
  font-weight: var(--font-weight-large);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.course-org {
  padding: 2px 0px;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-lg-small);
}

.course-org span {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

.marks-timeline {
  padding: 2px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.marks {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-small);
}
.marks span {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin: 0px 2px;
}
.timeline {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin: 0px 2px;
}

.experience,
.organisation-timeline,.skills, .acheivment, .certificate {
  display: flex;
  flex-direction: row;
}
.skills{
  justify-content: space-between;
}

.organisation-timeline {
  justify-content: space-between;
  padding-bottom: 5px;
}
.icon-div {
  padding-bottom: 5px;
  width: 10px;
}

.organisation-timeline-desc-responsiblity {
  width: calc(100% - 10px);
}

.resList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.organisation {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-lg-small);
}

.responsiblity-item {
  border: 1px solid var(--border-color-blue);
  font-size: var(--font-size-sm-small);
  margin: 2px;
  border-radius: 20px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--font-color-blue);
}

.left, .right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 350px;
}

.header-skill, .responsiblity-div p{
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-large);
  color: var(--font-color-white-300);
  padding-top: 10px;
}

.skill-item, .hobie-intrest div, .certicate-name{
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-lg-small);
}

.hobie-intrest .desc-hoby{
  font-size: var(--font-size-medium);
  font-weight: var(--font-large-small);
}

.rank-name-organisation{
  padding-left: 3px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-large-small);
}
.ranks, .orgnisation{
  font-weight: var(--font-weight-lg-small);
}

.link-desc{
  font-style: italic;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-large);
  color: var(--font-color-white-300);
  word-break: break-all;
  text-decoration: none;
}
.project-name{
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-lg-small);
}
.project-description, .exper-desc{
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  text-align: justify;
}
.projectlink{
  font-weight: var(--font-weight-lg-small);
  font-size: var(--font-size-small);
  text-align: end;
  color: var(--font-normal-color);
  font-style: italic;
}

.section-header div:hover{
  padding-left: 5px;
  animation: glow 1s ease-in-out infinite alternate;
  width: 100%;
}
.grades-section:hover,
.experience-section:hover,
.project-section:hover,
.certificate-section:hover,
.hobbie-intrest-section:hover,
.acheivment-section:hover,
.skills-section:hover
{
  animation: color-border 5s infinite;
}

.contacts span{
  padding-left: 4px;
  padding-right: 4px;
}

.side-features{
  position: absolute;
  left: 25px;
  top:40vh;
  width: 50px;
  background-color: white;
  border-radius: 25px;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0px 0px 10px #141414;
}

.side-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0px 5px;
}

.side-item{
  height: 50px;
  border-radius: 25px;
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.side-item:hover{
  background-color: var(--bg-color-dark);
  color: white;
}
