<div class="god-container">

  <div class="main-div">
    <div class="demographic-section">
      <div class="name-profile">
        <div class="name">ARUN SAINI</div>
        <div class="profile">Software Developer Engineer</div>
      </div>
      <div class="contacts">
        <a class="contact-item" href="linkedin.com/in/arun-saini-6bba81148">linkedin.com/in/arun-saini-6bba81148 <i class="fab fa-linkedin"></i></a>
        <a class="contact-item" href="github.com/Arun6153">github.com/Arun6153 <i class="fab fa-github-square"></i></a>
        <a class="contact-item" href="arunsaini.herokuapp.com">arunsaini.herokuapp.com <i class="fas fa-user-tie"></i></a>
        <a class="contact-item" href="mailto:sarun6153@gmail.com">sarun6153@gmail.com <i class="fas fa-envelope"></i></a>
        <a class="contact-item" href="tel:8607972097">8607972097 <i class="fas fa-phone-square"></i></a>
      </div>
    </div>
  </div>

</div>
