/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-family-small);
  cursor: none !important;
}

:root{
  --bg-color:#fff;
  --bg-image: radial-gradient(#474640, #121212);
  --bg-color-dark:#141414;

  /* FONT-FAMILY */
  --font-family-big:'Anton', sans-serif;
  --font-family-small:'Quicksand', sans-serif;

  /* FONT-COLORs */
  --font-color: #121212;
  --font-color-fade: #616161;
  --font-color-blue: #274fbe;
  --font-color-white-300:rgb(158, 150, 150);

  /* BORDER-COLOR */
  --border-color-blue:rgb(0, 94, 172);

  /* FONT-SIZE */
  --font-size-sm-small:10px;
  --font-size-small:13px;
  --font-size-medium:16px;
  --font-size-large:18px;
  --font-size-lg-small:25px;
  --font-size-lg-medium:36px;
  --font-size-lg-large:45px;

  /* FONT WEIGHT */
  --font-weight-small:400;
  --font-weight-medium:500;
  --font-weight-large:700;
  --font-weight-lg-small:900;
}

.god-container{
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-image: var(--bg-image);
  padding: 2rem 15%;
  transition: .3s;
}

.main-div{
  transition: .3s;
  max-width: 1140px;
  /* margin: auto;
  position: relative; */
  background-color: var(--bg-color);
  height: auto;
  padding: 15px 40px 40px;
  border-radius: 10px;
}

.pd-y{
  padding-top: 5px;
  padding-bottom: 5px;
}


/* CURSOR CSS */
.cursor{
  z-index: 999;
  position: fixed !important;
  background-color: #2696e8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px  #2696e8,
              0 0 60px  #2696e8,
              0 0 100px  #2696e8;
  animation: colors 5s infinite;
}


@keyframes colors {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px  #bee826,
    0 0 60px  #c4e826,
    0 0 100px  #94e826;
  }

  to {
    text-shadow:0 0 20px  #2663e8,
    0 0 60px  #2696e8,
    0 0 100px  #2696e8;
  }
}

@keyframes color-border {
  0%{
    border-bottom-color: #2696e8;
  }
  100%{
    border-bottom-color: #bee826;
  }
}

/* .cursor:before
{
  border-radius: 50%;
  content: '';
  position: absolute;
  background-color: #2696e8;
  width: 50px;
  height: 50px;
  opacity: .2;
  transform: translate(-30%,-30% );
} */


@media only screen and (max-width:991px) {
  .god-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-div{
    /* position: relative; */
    margin: auto;
    width: 100%;
  }
  .mid-section{
    display: none;
  }
  .user-details-div, .demographic-section, .skills
  {
    flex-direction: column !important;
  }
  .contacts{
    flex-direction: row !important;
    margin-bottom: 10px !important;
    justify-content: space-between !important;
    width: 100% !important;
    padding: 0px !important;
    align-items: center !important;
  }
  .contacts span{
    display: none;
  }
  .contacts i{
    font-size: var(--font-size-lg-small) !important;
  }
  .left-section, .right-section, .left, .right{
    width: 100% !important;
  }
  .side-features{
    left:5px !important;

  }
}

::-webkit-scrollbar {
  width  : 12px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#e65151, transparent);
  transition: .3s;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
